.vivo-title {
    width: 100%;
    background-color: #333;
}

.vivo-title-left {
    float: left;
    margin-left: 60px;
}

.vivo-title-right {
    float: right;
    margin-right: 60px;

}

.vivo-title-left li {
    float: left;
}

.vivo-title-right li {
    position: relative;
    float: left;
    /* padding-right: 18px; */
    box-sizing: border-box;
}

.vivo-title a {
    height: 32px;
    color: #ccc;
    line-height: 32px;
    margin-right: 40px;
}

.vivo-title a:hover {
    color: #999;
}

.vivo-title-right .sx::after {
    content: "|";
    position: absolute;
    top: 7px;
    font-size: 14px;
    right: 18px;
    color: #fff;
}

.nav-top {
    width: 100%;
    height: 68px;
     
}

.nav-top-left {
    float: left;
    height: 100%;
    margin-right: 100px;
}

.nav-top-left span {
    font-size: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-top-left span:hover {
    color: blue;
}

.nav-top-right {
    float: left;
    height: 100%;
}

.nav-top-right li {
    float: left;
    height: 100%;


    margin-right: 36px;
}

.nav-top-right a {
    line-height: 68px;
    font-size: 18px;
    font-weight: bold;
}

.nav-top-right a:hover {
    color: blue;
}